---
layout: default
title: Blog
description: Personal includes a simple blog with pagination.
featured_image: /images/mountain.jpg
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Writing</h1>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="post">
			<a href="https://medium.com/@emily.c.chen/i-visited-a-yoga-ashram-and-it-changed-my-life-fb391fd3746b?sk=6e218b01fba855f52255ff84aa6c78db">
			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url('/images/meditate.jpeg')"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title">
						I Visited a Yoga Ashram and It Changed My Life
					</h2>
				</div>
			</div>
			</a>
		</article>

		<article class="post">
			<a href="https://medium.com/@emily.c.chen/what-non-actors-can-learn-from-studying-acting-ac86726bc08d?sk=23160fd13e2582a53f795edff0bb4f5e">
			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url('/images/acting.jpeg')"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title">
						What Non-Actors Can Learn From Studying Acting
					</h2>
				</div>
			</div>
			</a>
		</article>

		<article class="post">
			<a href="https://medium.com/swlh/artist-in-a-cubicle-2edfb71a7e5a?source=friends_link&sk=a96414f48626f31489767460139ec6da">
			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url('/images/office.jpeg')"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title">
						Artist in a Cubicle
					</h2>
					<p class="post__description">Inspiration in an unexpected place</p>
				</div>
			</div>
			</a>
		</article>

		<article class="post">
			<a href="https://medium.com/@emily.c.chen/what-ive-learned-from-rock-climbing-1677f17b989e?source=friends_link&sk=c367a9f9b1961b2b3d502d69c6fc8f63">
			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url('/images/gotg.jpg')"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title">
						{{ post.title }}
					</h2>
					<p class="post__description">On fear, creativity, and risk taking</p>
				</div>
			</div>
			</a>
		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button pagination__prev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button pagination__next"><span>Older Posts</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}